name: Netlify Deployment

on:
  push:
    branches:
      - main 
  pull_request:
    types: [opened, synchronize, reopened]
  
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js (if your site needs a build step)
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Deploy to Netlify
        uses: netlify/actions/cli@master
        id: netlify
        with:
          args: deploy --dir=./
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}